.comment {
  align-items: flex-start;
  display: grid;
  grid-template-columns: 3rem 1fr;
  margin-bottom: 0.8rem;
  padding-right: 1.8rem !important;
  @media (max-width: 991.98px) {
    grid-template-columns: 1fr;
    padding-right: 0;
  }

  &-score {
    background-color: map-get($colorsNeutral, "very-light-gray");
    border-radius: 0.313rem;
    height: 100%;
    max-height: 7.188rem;
    @media (max-width: 991.98px) {
      max-width: 7.188rem;
      padding: 0.25rem 0.75rem;
    }
    & p {
      font-size: 1.2rem;
      font-weight: 800;
    }
    &-action {
      color: map-get($colorsPrimary, "light-grayish-blue");
      &:hover {
        color: map-get($colorsPrimary, "moderate-blue");
      }
      &.disabled {
        color: map-get($colorsPrimary, "soft-red");
        opacity: 0.3;
        cursor: no-drop;
      }
    }
    &-num {
      color: map-get($colorsPrimary, "moderate-blue");
    }
  }
  &-user {
    & p {
      color: map-get($colorsNeutral, "grayish-blue");
      font-weight: 510;
    }
    & .name {
      color: map-get($colorsNeutral, "dark-blue");
    }
    & img {
      max-width: 2.188rem;
    }
    & .tag-user {
      background-color: map-get($colorsPrimary, "moderate-blue");
      color: map-get($colorsNeutral, "white");
      padding: 0.063rem 0.5rem;
      @media (max-width: 575.98px) {
        padding-left: 0.313rem;
        padding-right: 0.313rem;
      }
    }
  }

  &-reply,
  &-edit {
    color: map-get($colorsPrimary, "moderate-blue");
  }
  &-delete {
    color: map-get($colorsPrimary, "soft-red");
  }
  &-reply,
  &-edit,
  &-delete {
    font-size: 1.1rem;
    &:hover {
      opacity: 0.6;
    }
    & img {
      height: 1rem;
      width: 1rem;
    }
  }
}
