.comments {
  max-width: 750px;
  max-height: 85vh;
  overflow: auto;
  padding-right: 1rem;
  width: 100%;
  & .replies,
  &.replies-2 {
    border-left: 4px solid map-get($colorsNeutral, "light-gray");
    margin-left: 2rem;
    padding-left: 2rem;
    @media (max-width: 991.98px) {
      margin-left: 0.6rem;
      padding-left: 1.2rem;
    }
    &.replies-2 {
      margin-left: 1.5rem;
      @media (max-width: 991.98px) {
        margin-left: 0.8rem;
      }
    }
  }
  @media (max-width: 991.98px) {
    max-height: initial;
    padding: 0.8rem;
  }
}

.comment,
.comment-box-reply {
  border-radius: 10px;
  gap: 1.4rem;
}

textarea {
  border-color: map-get($colorsNeutral, "light-gray");
  color: map-get($colorsNeutral, "dark-blue");
  font-weight: 600;
  padding: 6px;
  resize: none;
  &:disabled {
    background-color: transparent;
    border: 0px;
    padding: 0px;
    @media (max-width: 991.98px) {
      padding-right: 6px;
    }
  }
  &:hover,
  &:focus {
    border-color: map-get($colorsPrimary, "moderate-blue");
  }
}

textarea,
button {
  outline: 0px;
  border-radius: 6px;
}

button {
  background-color: map-get($colorsPrimary, "moderate-blue");
  border: 0px;
  color: map-get($colorsNeutral, "white");
  font-weight: 700;
  outline: 0;
  text-transform: uppercase;
  &:hover {
    opacity: 0.6;
  }
}
