body,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
p {
  padding: 0;
  margin: 0;
}

/* __________________________________________  */
/* -------------------- BASES ---------------  */
/* __________________________________________  */
@import "./base/settings";
@import "./base/global";

/* __________________________________________  */
/* --------------- COMPONENTS ---------------  */
/* __________________________________________  */
@import "./components/comments";
@import "./components/comment";
@import "./components/reply";
@import "./components/modal-delete";
